* {
  margin: 0;
}

div:not(.outer-container),
article {
  border: 1px solid #000;
}

.outer-container,
header,
.middle-container,
aside,
main,
footer {
  display: grid;
}

footer,
main,
aside {
  padding: 20px;
  grid-column-gap: 20px;
}

header, footer {
  background-color: #444;
}

header div, footer div {
  background-color: #aaa;
}

aside {
  background-color: #bbb;
}

aside div {
  background-color: #ddd;
}

main {
  background-color: #eee;
}

article {
  background-color: #ccc;
}

.outer-container {
  height: 100vh;
  grid-template-rows: 2fr 3fr 1fr;
}

header {
  align-content: center;
  justify-content: center;
  grid-template-columns: 75px 150px 75px;
  grid-template-rows: 25px 150px 25px;
  grid-row-gap: 30px;
}

header div:nth-child(odd) {
  grid-column-end: span 3;
}

header div:nth-child(2) {
  grid-column-start: 2;
}

.middle-container {
  grid-template-columns: repeat(2, 1fr);
}

aside, main {
  grid-row-gap: 20px;
}

aside {
  grid-template-rows: 8fr 1fr;
  border-right: 1px solid #000;
}

main {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 4fr 4fr;
}

main article:first-child {
  grid-column-end: span 2;
}

footer {
  grid-template-columns: repeat(2, 1fr);
}

footer > div:first-child {
  display: grid;
  grid-template-columns: 150px auto;
}

footer > div:first-child > div:first-child {
  grid-column-end: 2;
}

footer > div:last-child {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 10px;
}

.bg-transparent {
  background-color: transparent;
  border: none !important;
}


