* {
  margin: 0;
}

div:not(.outer-container),
article{
  border: 1px solid #000;
}

.outer-container,
header,
.middle-container,
aside,
main,
footer {
  display: grid;
}

header,
footer,
main,
aside {
  padding: 20px;
  grid-column-gap: 20px;
}

header, footer {
  background-color: #444;
}

header div, footer div {
  background-color: #aaa;
}

aside {
  background-color: #bbb;
}

aside div {
  background-color: #ddd;
}

main {
  background-color: #eee;
}

article {
  background-color: #ccc;
}

.outer-container {
  height: 100vh;
  grid-template-rows: 150px auto 150px;
}

header {
  grid-template-columns: 110px auto repeat(2, 110px);
}

header div:nth-child(2) {
  grid-column-start: 3;
}

.middle-container {
  grid-template-columns: 3fr 8fr;
}

aside {
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 20px;
  border-right: 1px solid #000;
}

main {
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}

main article:nth-child(3n) {
  grid-column-end: span 2;
}

footer {
  justify-content: center;
  grid-template-columns: repeat(3, 110px);
}
