:root {
  --header-bg: #483d8a;
  --section-a-bg: #292c3f;
  --section-b-bg: #a541b8;
  --aside-bg: #009284;
  --white: #eee;
}

html {
  color: var(--white);
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

body {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header,
.section-a,
.section-b,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

header, footer {
  background-color: var(--header-bg);
  position: fixed;
  left: 0;
  height: 5vh;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.section-a,
.section-b,
aside {
  border-top: 1px dotted #fff;
  height: 29vh;
}

.section-a {
  background-color: var(--section-a-bg);
}

.section-b {
  background-color: var(--section-b-bg);
}

aside {
  background-color: var(--aside-bg);
}

@media screen and (min-width: 501px) {
  header, footer {
    height: 10vh;
  }

  .container {
    display: grid;
    width: 100vw;
    /*grid-template-rows: repeat(auto-fill, 1fr);*/
    height: 80vh;
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    display: grid;
    height: 80vh;
    grid-template-rows: repeat(2, 1fr);
  }

  aside {
    border-left: 1px dotted #fff;
    grid-row-end: span 2;
  }

  .section-a,
  .section-b,
  aside {
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 3fr 1fr;
  }
}
