* {
  margin: 0;
}

div:not(.outer-container) {
  border: 1px solid #000;
}

div[class*="-container"] {
  display: grid;
}

div[class^="inner-container"] {
  padding: 20px;
}

.outer-container > div:nth-child(odd),
div[class^="inner-container"]:nth-child(even) div {
  background-color: #ccc;
}

.outer-container > div:nth-child(even),
div[class^="inner-container"]:nth-child(odd) div {
  background-color: #aaa;
}

.outer-container {
  height: 100vh;
  grid-template-rows: 1fr 2fr 1fr;
}

.inner-container-1 {
  grid-template-columns: repeat(2, 30%);
  justify-content: center;
  grid-gap: 10px;
}

.inner-container-1 div:last-child {
  grid-column-end: span 2;
}

.inner-container-2 {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.inner-container-2 div:first-child {
  grid-column-start: 3;
}

.inner-container-2 div:nth-child(2) {
  grid-column-start: 2;
}

.inner-container-2 div:last-child {
  grid-column-start: 1;
}

.inner-container-3 {
  padding: 30px 20px !important;
  grid-template-columns: 2fr 5fr;
  grid-gap: 20px;
}
